<div id="addNote">
<h1>Latest News</h1>
        <button class="notesBtn" onClick="showNotes()" data-state="0">Show Notes</button>
<ul id="articles">
    {{#each article}}
    <li class={{_id}}>
        <a href={{link}} target="_blank">
            <div class="title">{{title}}</div>
            <div class="url"><span>[</span> {{link}} <span>]</span></div>
        </a>
        <div class="notesOverlay">
            <div class="notes" data-id={{_id}}>
                <div>Notes</div>
                <p>{{note}}</p>
                <button class="addNote" data-id={{_id}}>Add Note</button>
                <button class="deleteNote" data-id={{_id}}>Delete Note</button>                
            </div>
        </div>
    </li>
    {{/each}}
</ul>
    <div id="addNoteWrapper">
        <label for="noteBody">Note:</label>
        <input type="text" id="bodyinput" name="noteBody">
        <button id="addNoteBtn">Add Note</button>
    </div>
</div>