<h1>Latest News</h1>
        <button class="notesBtn" onClick="showNotes()" data-state="0">Show Notes</button>
<ul id="articles">
    {{#each article}}
    <li class={{_id}}>
        <a href={{link}} target="_blank">
            <div class="title">{{title}}</div>
            <div class="url"><span>[</span> {{link}} <span>]</span></div>
        </a>
        <div class="notesOverlay">
            <div class="notes">
                <div>Notes</div>
                <div>{{note}}</div>
                <button class="deleteNote" data-id={{_id}} onclick="deleteNote()">Delete Note</button>
            </div>
        </div>
    </li>
    {{/each}}
</ul>